@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hides scrollbar for carousel */

#scrollCard::-webkit-scrollbar{
    display: none;
}

#scrollCard{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#mainContent::-webkit-scrollbar{
    display: none;
}

#mainContent{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body{
    scroll-behavior: smooth;
    scroll-margin: 10px;
    scrollbar-color: red;
    scrollbar-width: 2px;
}


@layer components{
    .text-label{
        @apply font-medium text-sm
    }
    .text-heading{
        @apply  font-semibold text-4xl
    }
    .text-subheading{
        @apply text-lg text-dark-default/70 font-semibold
    }
    .btn-google{
        @apply block w-full mx-auto transition duration-200 bg-[#DD4B39] py-[14px] rounded-md text-white text-lg
    }.btn-apple{
        @apply block w-full mx-auto transition duration-200 bg-black py-[14px] rounded-md text-white text-lg
    }.btn-primary{
        @apply block w-full mx-auto transition duration-200 bg-primary-default py-[14px] rounded-md text-white text-lg
    }.btn-secondary{
        @apply block w-full mx-auto transition duration-200 bg-danger-default py-[14px] rounded-md text-white text-lg
    }
    .link{
        @apply text-blue-400 hover:text-blue-500 transition duration-200
    }
   

}
